language: elixir

elixir:
  - 1.7.3

otp_release:
  - 21.0

services:
  - postgresql

before_script:
  - MIX_ENV=test mix do ecto.create, ecto.migrate

sudo: required
dist: trusty

addons:
  postgresql: "9.6"
